footer{
  background-color: $fourth-color;
  padding: 3rem 0 6.5rem;
  &, a{
    color: $white;
  }
}

.groupeBlocs.footer{
  @include centre;
  h2{
    font-weight: $weight-bold;
    margin-bottom: 4rem;
  }
  h3{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  p{
    font-size: 1.6rem;
  }
}

//Coordonnées
.groupeBlocs.footer .blocTexte{
  float: left;
  margin-right: 18.5rem;
  padding-bottom: 10rem;
}

//Réseaux sociaux
.groupeBlocs.footer .blocReseauxSociaux{
  margin-top: 3rem;
}

//Menu
.groupeBlocs.footer .blocMenu{
  margin-top: 5.5rem;
  ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  li{
    margin-right: 2rem;
  }
}

//Bandeau cookies
.cookies{
  position: fixed;
  bottom: 0;
  max-width: $large;
  margin: auto;
  left: 0;
  right: 0;
  background: $fourth-color;
  box-shadow: 4px -4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 1.5rem 2rem 1.5rem;
  font-size: 1.3rem;
  p{
    margin-bottom: 0;
  }
  &, a{
    color: $white;
  }
  a{
    text-decoration: underline;
  }
  body.notFull &{
    left: 30rem;
  }
}

//ScrollTop
.scrollTop{
  display: none;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  background-color: $second-color;
  width: 5rem;
  text-align: center;
  height: 5rem;
  color: #FFF;
  font-size: 4rem;
  border: 1px solid;
  svg{
    display: block;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
  }
}