.scrollTop{
  display: none;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  background-color: $second-color;
  width: 5rem;
  text-align: center;
  height: 5rem;
  color: #FFF;
  font-size: 4rem;
  border: 1px solid;
  svg{
    display: block;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
  }
}

.bouton, input[type=submit]{
  @include bouton;
}