.groupeBlocs.header{
  padding-top: 1.5rem;
  position: relative;
}

//Logo
.groupeBlocs.header .blocLogoSite{
  position: absolute;
  top: 2.5rem;
  left: 4.5rem;
  img{
    max-width: 10rem;
  }
}

//Recherche
.groupeBlocs.header .blocRecherche{
  @include centre;
  text-align: center;
  margin-bottom: 3rem;
  input, button{
    height: 6rem;
    box-shadow: none;
  }
  input{
    background-color: $fifth-color;
    width: 80%;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    &::placeholder{
      color: $fifth-color;
    }
  }
  button{
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    width: 6rem;
    font-size: 3rem;
  }
}

//Menu
.groupeBlocs.header .blocMenu{
  background-color: $main-color;
  > div{
    @include centre;
  }
  ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    ul{
      display: none;
      position: absolute;
      z-index: 100;
    }
  }
  li.parent{
    position: relative;
    &:hover{
      > a{
        background-color: $fifth-color;
      }
      > ul{
        display: block;
        width: 100%;
      }
    }
  }
  a{
    display: inline-block;
    &:hover{
      color: $fourth-color;
    }
  }
}

  //Niveau 1
.groupeBlocs.header .blocMenu > div > ul{
  display: flex;
  justify-content: center;
  > li{
    > a{
      padding: 1.5rem 2rem;
      font-size: 2rem;
      font-weight: $weight-bold;
      &:hover{
        background-color: $fifth-color;
      }
    }
  }
}

  //Sous-niveaux
.groupeBlocs.header .blocMenu > div > ul > li > ul{
  a{
    background-color: $fifth-color;
    padding: 1rem 2rem;
    width: 100%;
    font-size: 1.8rem;
    &:hover{
      color: $main-color;
    }
  }
}

  //Niveau 2
.groupeBlocs.header .blocMenu > div > ul > li > ul{
  position: absolute;
  top: 100%;
  left: 0;
}

  //Niveau 3
.groupeBlocs.header .blocMenu > div > ul > li > ul > li > ul{
  position: absolute;
  top: 0;
  left: 100%;
}

//Burger
#burger{
  @include respond-to("medium-up"){
    display: none;
  }
}